* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif; }
  html body {
    height: 100%;
    width: 100%;
    position: relative; }
    html body h1 {
      text-align: center;
      margin-top: 10px; }
    html body p {
      text-align: center;
      margin-bottom: 10px; }
    html body #formElement {
      height: 15%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 8%; }
      html body #formElement #message {
        width: 200px;
        padding: 0 0 150px 0; }
    html body nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background-color: #e9ecef; }
      html body nav img {
        height: 160px;
        width: 170px;
        margin-left: 30px; }
      html body nav ul {
        display: flex;
        flex-direction: row;
        margin-right: 30px; }
        html body nav ul li {
          list-style-type: none;
          margin: 0 6px;
          font-size: 1.2rem; }
          html body nav ul li a {
            color: #1761a0; }
            html body nav ul li a:hover {
              color: #4c96d7; }
    html body footer {
      width: 100%;
      height: 20%;
      background-color: #002855;
      color: #fff;
      position: absolute;
      bottom: 0;
      left: 0;
      display: flex;
      justify-content: space-around;
      gap: 25px;
      align-items: flex-start;
      text-align: center; }
      html body footer div {
        display: flex;
        flex-direction: column;
        margin-top: 20px; }
        html body footer div h6 {
          font-size: 1.2rem;
          margin-bottom: 5px; }
        html body footer div p {
          font-size: 0.9rem; }
