* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif;
  body {
    height: 100%;
    width: 100%;
    position: relative;

    nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background-color: #e9ecef;

      img {
        height: 160px;
        width: 170px;
        margin-left: 30px;
      }
      ul {
        display: flex;
        flex-direction: row;
        margin-right: 30px;
        li {
          list-style-type: none;
          margin: 0 6px;
          font-size: 1.2rem;
          a {
            color: #1761a0;
            &:hover {
              color: #4c96d7;
            }
          }
        }
      }
    }

    footer {
      width: 100%;
      height: 30%;
      background-color: #002855;
      color: #fff;
    }
  }
}
